/*Play*/
.fa-check-circle {
    color: #5cb85c;
  }
  .fa-minus-circle{
    color: #f0ad4e;
  }
  
  .fa-exclamation-circle {
    color: #BB0000;
  }
  
  
  .panel-heading {
    position: relative;
  }
  
  .panel-body {
    padding-top: 5px;
    padding-bottom: 0px;
  }
  
  .status-hr {
    /*padding: 2px;*/
    text-align: center;
    font-size: 14px;
    line-height: 2.8;
  }
  
  .status-column {
    padding: 5px;
    text-align: center;
  
    i {
      padding-left: 3px;
    }
  
  }
  
  .service {
    cursor: pointer;
  
    .fa {
      margin-top: 10px;
        margin-bottom: 10px;
      font-size: 18px;    
      
      .tooltiptext {
          visibility: hidden;
          width: 450px;
          background-color: black;
          color: #fff;
          text-align: left;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          font-size: 14px;
          overflow: hidden;
      }
    }
  }
  
  .tooltiptext {
      visibility: hidden;
      width: 200px;
      background-color: black;
      color: #fff;
      text-align: left;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      font-size: 14px;
      overflow: visible;
  }
  
  .fa:hover .tooltiptext {
      visibility: visible;
  }
  
  .margin_override {
    margin-left: -30em; 
  }
  
  .modal-dialog {
    right: auto;
    left: auto;
    width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
  }