/*Changed*/
@media print{
	#no-print {text-align: center;
    margin-left: 60px;
	column-width: 400px;
  }
}

.fa-check-circle {
  color: #5cb85c;
}
.fa-minus-circle{
  color: #f0ad4e;
}

.fa-exclamation-circle {
  color: #BB0000;
}

.panel-body {
  padding-top: 5px;
  padding-bottom: 0px;
}

.panel-heading {
  position: relative;
  line-height: 2.8;
  font-size: 14px;
}

.col-sm-1.status-hr.panel-title {
	text-align: center;
  column-width: 300px;
}

.col-sm-1 {
  white-space: nowrap;
  vertical-align: middle;
}*

.status-hr {
  line-height: 2.8;
}

.status-column {
  padding: 5px;
  text-align: center;
  

  i {
    padding-left: 3px;
  }

}

.service {
  cursor: pointer;

  .fa {
    margin-top: 10px;
  	margin-bottom: 10px;
    font-size: 18px;    
    
    .tooltiptext {
        visibility: hidden;
        width: 450px;
        background-color: black;
        color: #fff;
        text-align: left;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        font-size: 14px;
        overflow: hidden;
    }
  }
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    overflow: visible;
}

.fa:hover .tooltiptext {
    visibility: visible;
}

.margin_override {
  margin-left: 0em;
}